<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="sync" type="AlmaIntegrationTools.AccountSync.Config.ServersSectionGroup, AlmaIntegrationTools.AccountSync">
			<section name="import" type="AlmaIntegrationTools.AccountSync.Config.ServerConfig, AlmaIntegrationTools.AccountSync"/>
			<section name="export" type="AlmaIntegrationTools.AccountSync.Config.ServerConfig, AlmaIntegrationTools.AccountSync"/>
			<section name="path" type="AlmaIntegrationTools.AccountSync.Config.PathConfig, AlmaIntegrationTools.AccountSync"/>
			<section name="reader" type="AlmaIntegrationTools.AccountSync.Config.ReaderConfig, AlmaIntegrationTools.AccountSync"/>
		</sectionGroup>
	</configSections>
	<sync>
		<reader campus="uptown" domain="tulane.edu"/>
		<path value="C:\ProgramData\AlmaIntegationTools\sis"/>
		<import host="sftp-test.local" port="2221" user="sftp" path="sis" key="C:\ProgramData\AlmaIntegationTools\config\id_RSA-test.ppk" fingerprint="ecdsa-sha2-nistp521 521 dZE/b2cOiikUzMJ8/5tIpu+yMv4i1KO8Xp4nRJg6FGc="/>
		<export host="sftp-test.local" port="2222" user="sftp" path="sis" key="C:\ProgramData\AlmaIntegationTools\config\id_RSA-test.ppk" fingerprint="ecdsa-sha2-nistp521 521 c4NNt5GznAnxMuI8KKeyXS4IHTuw84W685UIQOU1YGk="/>
	</sync>
</configuration>
