<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="sync" type="AlmaIntegrationTools.Config.ServersSectionGroup, AlmaIntegrationTools">
			<section name="import" type="AlmaIntegrationTools.Config.ServerConfig, AlmaIntegrationTools"/>
			<section name="export" type="AlmaIntegrationTools.Config.ServerConfig, AlmaIntegrationTools"/>
			<section name="path" type="AlmaIntegrationTools.Config.PathConfig, AlmaIntegrationTools"/>
		</sectionGroup>
	</configSections>
	<sync>
		<path value="/AccountSync"/>
		<import host="sftp-test.local" port="2221" user="sftp" path="Bursar" key="/app/ssh-keys/id-RSA-test" fingerprint="ssh-rsa 3072 t+asJMk+k4kH78YSkkhe6Eo0UHkuR5jAriYodH8TCpM="/>
		<export host="sftp-test.local" port="2222" user="sftp" path="Bursar" key="/app/ssh-keys/id-RSA-test" fingerprint="ssh-rsa 3072 sn2WKy3iSUcOvUEb5UaIWlnw9LYgd/z6zZuQqHtS7RM="/>
	</sync>
</configuration>