<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ImportFile" value="bursar"/>
		<add key="WorkingPath" value="C:\ProgramData\AlmaIntergrationTools\bursar"/>
		<add key="Sftp.HostName" value="sftp-test.local"/>
		<add key="Sftp.PortNumber" value="2222"/>
		<add key="Sftp.Username" value="sftp"/>
		<add key="Sftp.SshPrivateKeyPath" value="C:\ProgramData\AlmaIntergrationTools\config\id_RSA-test.ppk"/>
		<add key="Sftp.SshHostKeyFingerprint" value="ssh-ed25519 255 oJPMVKgJKLsxgwZsGydW6AfIM9msvnVNr3uHqObuleQ="/>
	</appSettings>
</configuration>
