HostKey /etc/ssh/keys/ssh_host-rsa_key
HostKey /etc/ssh/keys/ssh_host-ed25519_key

PermitRootLogin no
PubkeyAuthentication yes
UseDNS no
PasswordAuthentication yes

AllowTcpForwarding yes
GatewayPorts no
X11Forwarding no
Subsystem	sftp	/usr/lib/ssh/sftp-server
AcceptEnv LANG LC_ALL LC_COLLATE LC_CTYPE LC_MESSAGES LC_MONETARY LC_NUMERIC LC_TIME LANGUAGE LC_ADDRESS LC_IDENTIFICATION LC_MEASUREMENT LC_NAME LC_PAPER LC_TELEPHONE
AcceptEnv COLORTERM